<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="phpunitBootstrap.php" stopOnFailure="true"  backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="Asistencias">
			<directory suffix=".php">
				test/Asistencias
			</directory>
		</testsuite>
		<testsuite name="Usuarios">
			<directory suffix=".php">
				test/Usuarios
			</directory>
		</testsuite>
		<testsuite name="Turnos">
			<directory suffix=".php">
				test/Turnos
			</directory>
		</testsuite>
		<!-- <testsuite name="Cargos">
			<directory suffix=".php">
				test/Cargo
			</directory>
		</testsuite>

		<!-- 
		otro se agrega aqui 
		<testsuite name="Trabajadores (EL nombre aqui no importa solo no se debe repetir)">
			<directory suffix=".php">
				test/Trabajadores 
				(la ruta de la carpeta donde estaran los archivos *test.php )
				por ejemplo en esa carpeta podrian estar los archivos
				TrabajadorRegistrarTest.php
				TrabajadorEliminarTest.php
				TrabajadorActualizarTest.php

			</directory>
			El testsuite es para agrupar las pruebas asistencias, inventario, usuarios etc
		</testsuite> 
		-->

	</testsuites>
	
	<coverage>
        <include>
            <directory>./Models</directory>
        </include>
    </coverage>


	<logging>
        <junit outputFile="test/reports/junit.xml"/>
        <text outputFile="test/reports/test_results.log"/>
        <teamcity outputFile="test/reports/teamcity.txt"/>
	    <testdoxHtml outputFile="test/reports/testdox.html"/>
	    <testdoxText outputFile="test/reports/testdox.txt"/>
    </logging>

	
	
</phpunit>