.list-no-decor img {
    max-width: 100% !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ayuda-seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ayuda-header,
.ayuda-sub-header {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.ayuda-header {
    font-size: 1.75rem;
}
.ayuda-sub-header {
    font-size: 1.25rem;
}
.ayuda-title {
    display: none;
}
.ayuda-texto {
    text-align: justify;
}
.indice li {
    margin-bottom: 0 !important;

}
ul li,
ol li {
    margin-bottom: .5rem;
}
.img {
    width: 100%;
    text-align: center;
}
.img img {
    max-width: min(100%, 700px);
    margin-bottom: .25rem;
}
.img div {
    color: rgb(130, 130, 130);
    font-style: italic;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.list-no-decor {
    list-style-type: none;
}



@media print{
    header,
    .sidebar,
    .panel-header
    {
        display: none !important;
    }
    .main-content{
        --sidebar-width: 0px !important;
    }
    .ayuda-title{
        display: block;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    *{
        box-shadow: none !important;
    }
    .no-print{
        display: none !important;
    }
}