:root {
    --body-color: #f8f9fd;
    --blanco: #ffffff;
    --azul-oscuro: #0b60df;
    --gris: #777;
    --sidebar-width: 250px;
    --header-heigth: 62px;
    --header-color: var(--azul-oscuro);
    --font-color-light: #777;
    --shadow-alt: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    --border-color-alt: #ebecec;
}

body {
    background-color: var(--body-color);
}

.main-content {
    position: relative;
    width: calc(100% - var(--sidebar-width));
    float: right;
    margin-top: var(--header-heigth);
}

/* Menu lateral */
.sidebar {
    position: fixed;
    top: var(--header-heigth);
    bottom: 0;
    left: 0;
    padding-bottom: 40px;
    width: var(--sidebar-width);
    display: block;
    z-index: 998;
    background: var(--blanco);
    box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
    transition: all .3s;
    overflow-y: auto;
}
.sidebar.sidebar-hide {
    transform: translateX(calc(-1 * var(--sidebar-width)));
}
.sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar .user {
    padding: 15px;
    margin: 0 15px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    color: var(--font-color-light);
}
.sidebar .user .avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--bs-gray-300);
    color: var(--bs-gray-500);
}
.sidebar .user .info {
    display: flex;
    flex-direction: column;
}
.sidebar .user .link {
    display: block;
    padding: 7px 0;
}
.sidebar h4 {
    padding: 2px 30px;
    font-size: 14px;
    color: var(--font-color-light);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    margin-top: 20px;
}
.sidebar-button,
.sidebar .acordeon .acordeon-body a {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #8d9498;
    margin-bottom: 3px;
    text-decoration: none;
}
.sidebar-button:hover,
.sidebar .acordeon .acordeon-body a:hover {
    background-color: rgba(199, 199, 199, 0.2);
    font-weight: 500;
    color: var(--font-color-light);
}
.sidebar-button.active {
    background-color: var(--bs-primary);
    color: var(--blanco);
    font-weight: 500;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                4px 4px 15px -5px rgba(21, 114, 232, 0.4);
}
.sidebar .acordeon .acordeon-body a.active {
    background-color: rgba(199, 199, 199, 0.2);
    font-weight: 500;
}
.sidebar .sidebar-button::before {
    right: 1rem;
}
.sidebar-button i {
    text-align: center;
    width: 1.25em;
    margin-right: 1rem;
}

/* Header principal */
.main-header {
    display: flex;
    align-items: center;
    position: fixed;
    height: var(--header-heigth);
    background-color: var(--bs-primary);
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--header-color);
    box-shadow: 0px 0px 5px rgba(18, 23, 39, 0.5);
    z-index: 999;
}
.sidebar-header {
    width: 250px;
    height: 62px;
    line-height: 60px;
    color: var(--blanco);
    letter-spacing: 2px;
    z-index: 1001;
    font-size: 17px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--bs-primary);
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s;
}
.main-header.sidebar-hide .sidebar-header {
    transform: translateX(calc(-1 * var(--sidebar-width) + 60px));
}
.header-middle {
    line-height: 60px;
    color: var(--blanco);
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    transform: translateY(calc(-1 * var(--header-heigth)));
}
.main-header.sidebar-hide .header-middle {
    transform: translateY(0);
}
.sidebar-header a,
.header-middle a {
    text-decoration: none;
    color: var(--blanco);
}
.sidebar-header img,
.header-middle img {
    width: 40px;
    height: min-content;
}
.btn-header {
    color: var(--blanco);
    font-size: 18px;
}
.btn-header:hover {
    color: var(--blanco);
    background-color: rgba(31, 30, 30, 0.12);
}
.btn-header:active {
    color: var(--blanco)!important;
    background-color: rgba(31, 30, 30, 0.2)!important;
    border-color: transparent!important;
}

/* Contenido principal */
.main-content {
    transition: width .3s;
}
.main-content.sidebar-hide {
    width: 100%;
}

.panel-header > .page-inner {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}

/* Filtro pacientes */
.filtro-alfabetico {
    display: flex;
}
.filtro-alfabetico a {
    padding: 0 5px;
    border-left: 1px solid #cecece;
    text-decoration: none;
}
.filtro-alfabetico a:first-child {
    border: none;
}

/* Bootstrap overrides */
.card {
    border: none;
    box-shadow: var(--shadow-alt);
}
.card > * {
    border-color: var(--border-color-alt);
}

/* toastify overrides */
.toastify .toast-close {
    filter: brightness(0) invert(1);
    transform: translateX(8px);
}
.toastify .toast-close:hover {
    opacity: .6;
}


.form-info-field{
    margin-top: 1rem;
    position: relative;

    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-info-field::before{
    content: attr(data-info);
    display: inline-block;
    position: absolute;
    font-size: .8rem;
    top: -0.7rem;
    background-color: var(--bs-body-bg);
    padding-left: .2rem;
    padding-right: .2rem;
}
.form-info-field::after{
    content: "";
    display: inline-block;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(199 199 199 / 50%);
    z-index: 9999;
    opacity: 1;
}
.loader::after{
    --size:5rem;
    --size-border:.5rem;
    content: "";
    display: inline-block;
    border: var(--size-border) solid #0b60df;
    border-bottom: var(--size-border) solid #0000;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
    animation: spin 0.6s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader.loader-body{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgb(199 199 199 / 50%);
    height: 100vh;
    width: 100vw;
}
.no-select/*Evita seleccion (sombreado azul)*/
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Datatables overrides */
.dt-export-button {
    background-color: transparent !important;
    border: none;
    cursor: default !important;
    color: black;
    font-weight: 500;
}
.dt-export-button:hover,
.dt-export-button:active {
    color: black !important;
}